<%- include('../partials/header') %>
      <h2><%=title%></h2>
<p>Valorant</p>
  <p>Valorant is a competitive first-person shooter game that is very popular among the 
  American and Chinese markets. It features 5 on 5 game modes that is very similar to 
  games like Counter Strike: Global Offensive.</p>
  <p><img class = "img" src = "images/val.jpg"</p>
<%- include('../partials/footer') %>