<%- include('../partials/header') %>
      <h2><%=title%></h2>
<p>Undertale</p>
  <p>Undertale is a game where you take control of a child who fell into an abyss that is controlled by Monsters who have a hatred for humans. In this RPG, you must carefully make choices that will help you find your way home in order to go back to your family. The player must make an important chioce on how they will achieve that goal throughout the game. </p>
  <p><img class = "img" src = "images/undertale.jpg"</p>
  This is currently Beno's favorite game of all time. However, he thinks he will enjoy the "sequel" better. 
<%- include('../partials/footer') %>