<%- include('../partials/header') %>
      <h2><%=title%></h2>
<p>Grand Theft Auto V</p>
  <p>Grand Theft Auto V is a top-down game where the player has control over 3 protaonis who have very dissimilar personalities. The one thing they have in common is living a life of crime to help them pay the bills. This game features many heists and missions that require you to use some thinking on how to approach. It is one of the best games ever made and has extreme replay value. </p>
  <p><img class = "img" src = "images/gta5.jpg"</p>
  Even though it was released in 2013, Beno finds GTA V being played a lot more than some other games he owns. The reason for this: "Games fun with friends men". More to come on this.
<%- include('../partials/footer') %>