<%- include('../partials/header') %>
      <h2><%=title%></h2>
  	<h5>Photo of me (Scroll down!!):</h5>
  <p><img class = "img" src="images/chet.jpg"</p>

<h2>My favorite Games</h2>
  	<p>On this website, I have a list of my (Beno's) favorite video games as of 8/16/2022. This is an in-depth list and features 2 of his favorite games in the past 10 years and one game that he favors at the moment. Enjoy!</p>


<%- include('../partials/footer') %>


